*
{
    margin: 0;
    padding: 0;

    background-color: bisque;
}
input
{
    width: 100%;

    border: 1px solid;
    border-radius: 2px;
    padding: 3px 0px;
    background-color: white;
}
input[type="submit"]
{
    background-color: grey;
    color: white;
}
p
{
    text-align: center;
}
p, input
{
    margin-bottom: 10px;
}
p, label
{
    font-weight: bold;
}

#registration
{
    width: 25%;

    margin: 15px auto;
}

::after
{
    float: right;
    color: red;
}
.emailerror::after
{
    content: "Incorrect Email!";
}
.passworderror::after
{
    content: "Ivalid Password!";
}
.repeaterror::after
{
    content: "Passwords Must Match!";
}