*
{
    margin: 0;
    padding: 0;

    background-color: bisque;
}
input, select
{
    width: 100%;
    border: 1px solid;
    border-radius: 3px;
    padding: 3px 0px;
    background-color: white;
}
input[type="submit"], select, option
{
    background-color: grey;
    color: white;

    border: 1px solid black;
    border-radius: 4px;
}
p, form
{
    font-weight: bold;
}
input, select
{
    margin-bottom: 5px;
}

#userinfo 
{
    width: 30%;
    margin: 15px auto;
}
#fnamerror, #lnamerror, #byearerror, #phonerror, #skyperror
{
    float: right;
    color: red;
}
#biographytitle
{
    text-align: center;
}
#currentuser p, a
{
    display: inline-block;
    
}
#currentuser
{
    text-align: right;
}
#currentuser::after
{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background-color: black;
}

::after
{
    float: right;
    color: red;
}
.firstnamerror::after
{
    content: "Ivalid Name!";
}
.lastnamerror::after
{
    content: "Invalid Last Name!";
}
.birthyearerror::after
{
    content: "Out of Year Range!";
}
.phonerror::after
{
    content: "Incorrect number!";
}
.skyperror::after
{
    content: "Incorrect Skype Login!";
}